<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ActiveQueryBuilder.Core" publicKeyToken="3cbcbcc9bf57ecde" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.1031" newVersion="3.2.1.1031" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>